@import url('font.css');
@import url('color.css');
@import url('vrac.css');
@import url('trames.css');

::-webkit-scrollbar {
  width: 10px;
}

@font-face {
    font-family: interval;
    src: url(Interval_Book.otf);
} 

@font-face {
  font-family: roman;
  src: url(C059-Roman.otf);
} 



body {
  margin: 0;
  padding: 10px;
  font-family: 'interval';
  overflow: hidden;
}

main.left {
  width: 50%;
  background-color: #ffffff;
  left: 0;
  top: 4%;
  position: absolute;
  height: 96%;
  overflow: scroll;
  padding: 10px;
}

main.right {
  width: 50%;
  background-color: #f5f5f5;
  border-left: dotted 1px black;
  left: 50%;
  top: 0;
  position: absolute;
  overflow: scroll;
  height: 100%;
  padding-left: 10px;

}

section {
  margin-inline: 10px;
}

pre {
  max-width: 100px;
  display: block;

}

.trames {
  display: flex;
  /* align-items: center; */
  flex-flow: row wrap;
  flex-direction: row;
  /* justify-content: center; */
  /* margin: 40px; */


}



section {
  width: 182px;
  height: 255px;
  /* margin-top: 50px; */
  /* padding: 10px; */

}

div.code {
  /* background-color: #00BF69; */
  width:182px;
  display: block;
  word-wrap: break-word;
  padding: 5px;
  font-family: 'interval';
  font-size: 0.8em;
  line-height: 1.4em;
margin-top: 40px;
}

.trames summary {
  background-color: white;
  padding: 0;
margin-left: 10px;
margin-top: 10px;
padding-top: 5px;
width: 182px;
}


div.code strong {
  background-color: yellow;
}

a {
  text-decoration: none;
  color: var(--unit);
}

a:hover, h3 {

  border-bottom: solid 2px black;
}
nav {
  width: 50%;
  display: flex;
}

nav a {
  display: flex;
  flex: fit-content;
  justify-content: center;
}


p {
    width: 60%;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 1.4em;
    line-height: 1.5em;
    color: var(--black);
    padding: 2px 8px 2px 8px;
    font-family: "roman";
    font-weight: normal;
  }

  ul li {
    font-size: 1.4em;

  }

  ul {
    margin-bottom: 40px!important;
  }

input {
  all: unset;
}

h1,
a,
h2,
ul,
ul li {
  margin: 0;
  padding: 2px;
}

main.right summary:hover {
  cursor: pointer;
  filter: invert();
}

summary.bwaa  {
    background: repeating-linear-gradient( var(--black), var(--black) 1px, var(--white) 0px, var(--white) 5px);
    /* width; */
}

summary.crl {
background: radial-gradient( circle at 0% 50%, var(--black) 6px, var(--white) 0px);
background-size: 15px 15px;
}

summary.verlag  {
  background: radial-gradient( circle at 50% 50%, var(--black) 2px, var(--white) 0px);
  background-size: 15px 15px;
background-origin: content-box;
background-position: center;
}

summary::marker {
  background-color: white;
}

summary span {
  background-color: white;
  padding:4px;
  margin: 0px;
  font-size: 1.4em;
}

summary {
  padding: 15px;
  height: 20px;
}

/* details:nth-of-type(3) {
  height: calc(100%-60px);
  background-color: #58428B;
} */

details[open] {
  overflow: scroll;
  height:fit-content;
  background-color: white;
}

main.left #blur {
  background-color: #00BF69;
}


  details a {
    display: block;
    border: solid 1px black;
    width: fit-content;
  }

h1 {
  width: fit-content;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 2em;
  color: var(--black);
  border-radius: 10px;
}

main.right h2 {
  /* width: fit-content; */
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: var(--black);
  padding: 2px 8px 2px 8px;
}

summary.title {
  /* width: fit-content; */
  margin-top: 5px;
  margin-right: 10px!important;
  font-size: 1.4em;
  color: var(--black);
  /* border-bottom: solid 4px var(--black); */
  background-color: #3ae1c5;
  padding: 10px;

}

a {
  font-weight: bolder;
  font-size: var(--unit);
}



h3 {

  font-size: var(--unit);
  margin: 0%;
  padding: 5px;
  color: var(--black);
  max-width: 200px;
}


ul li {
  list-style: none;
}

img {
  max-width: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
}

header {
  padding-left: 40px;

}

header ul {
  display: grid;
  height: 100%;
  width: 500px;
}


