
/* 1 */

/* BWAA */


:root {
  --unit: 13pt;
  --black: black;
  --white: transparent;
  --english: #58428B;
  --dutch: #3ae1c5;
  --french: #ffB2B2;
  --german: #ff312E;
  --spanish: #00BF69;
  /* licenses */

  --bwaa-cc-0: 50px;
  --bwaa-cc-by: 50px;
  --bwaa-cc4r: 40px;
  --bwaa-gnu-gpl: 40px;
  --bwaa-cc-by-sa: 40px;
  --bwaa-fal: 40px;
  --bwaa-cc-by-nc: 30px;
  --bwaa-cc-by-nc-sa: 30px;
  --bwaa-cc-by-nc-nd:  30px;
  --bwaa-cc-by-nd: 30px;
  --bwaa-copyright:20px;


  --bwaa-one-file: 2px;
  --bwaa-two-files: 8px;
  --bwaa-three-files: 14px;
  --bwaa-four-files: 20px;
  --bwaa-one-language: 0deg;
  --bwaa-two-languages: 22.5deg;
  --bwaa-three-languages: 45deg;
  --bwaa-four-languages: 67.5deg;
  --bwaa-five-languages: 90deg;
  --verlag-one-file: 2px;
  --verlag-two-files: 4px;
  --verlag-three-files: 6px;
  --verlag-four-files: 8px;
  
  /* licenses */
  --verlag-cc-0: 15px 50px;
  --verlag-cc-by: 15px 50px;
  --verlag-cc4r: 15px 40px;
  --verlag-gnu-gpl: 15px 40px;
  --verlag-cc-by-sa: 15px 40px;
  --verlag-fal: 15px 40px;
  --verlag-cc-by-nc: 15px 30px;
  --verlag-cc-by-nc-sa: 15px 30px;
  --verlag-cc-by-nc-nd: 15px 30px;
  --verlag-cc-by-nd: 15px 30px;
  --verlag-copyright: 15px 20px;

  /* languages */
  --verlag-one-language: 50% 50%;
  --verlag-two-languages: 50% calc(100%/2.4);
  --verlag-three-languages: 50% calc(100%/3);
  --verlag-four-languages: 50% calc(100%/4);
  --verlag-five-languages: 50% calc(100%/6);
  
  /* files */
  --crl-one-file: 2px;
  --crl-two-files: 4px;
  --crl-three-files: 6px;
  --crl-four-files: 8px;

  /* licenses */
  --crl-cc-0: 15px 50px;
  --crl-cc-by: 15px 50px;
  --crl-cc4r: 15px 40px;
  --crl-gnu-gpl: 15px 40px;
  --crl-cc-by-sa: 15px 40px;
  --crl-fal: 15px 40px;
  --crl-cc-by-nc: 15px 30px;
  --crl-cc-by-nc-sa: 15px 30px;
  --crl-cc-by-nc-nd: 15px 30px;
  --crl-cc-by-nd: 15px 30px;
  --crl-copyright: 15px 20px;

/* languages */
  --crl-one-language: 0% 50%;
  --crl-two-languages: calc(100%/6) 50% ;
  --crl-three-languages: calc(100%/3.5) 50% ;
  --crl-four-languages: calc(100%/2) 50% ;
  --crl-five-languages: calc(100%/1.5) 50% ;
}


 section.bwaa {
    background: repeating-linear-gradient(
      var(--english), 
      var(--english) 2px, 
      var(--white) 0px, 
      var(--white) 50px);
  }


   section.bwaadensity2 {
    background: repeating-linear-gradient(
      var(--english), 
      var(--english) 2px, 
      var(--white) 0px, 
      var(--white) 40px);
  }

   section.bwaadensity3 {
    background: repeating-linear-gradient(
      var(--english), 
      var(--english) 2px, 
      var(--white) 0px, 
      var(--white) 30px);
  }

   section.bwaadensity4 {
    background: repeating-linear-gradient(
      var(--english), 
      var(--english) 2px, 
      var(--white) 0px, 
      var(--white) 20px);
  }

   section.bwaasize1 {
    background: repeating-linear-gradient(
      var(--english), 
      var(--english) 2px, 
      var(--white) 0px, 
      var(--white) 50px);
  }

   section.bwaasize2 {
    background: repeating-linear-gradient(
      var(--english), 
      var(--english) 8px, 
      var(--white) 0px, 
      var(--white) 50px);
  }

   section.bwaasize3 {
    background: repeating-linear-gradient(
      var(--english), 
      var(--english) 14px, 
      var(--white) 0px, 
      var(--white) 50px);
  }

   section.bwaasize4 {
    background: repeating-linear-gradient(
      var(--english), 
      var(--english) 20px, 
      var(--white) 0px, 
      var(--white) 50px);

  }

   section.bwaatwolanguages {
    background: repeating-linear-gradient(
    0deg, 
    var(--english), 
    var(--english) 2px, 
    var(--white) 0px, 
    var(--white) 50px), 
    repeating-linear-gradient(
    22.5deg, 
    var(--french), 
    var(--french) 2px, 
    var(--white) 0px, 
    var(--white) 50px);
  }

   section.bwaathreelanguages {
    background: repeating-linear-gradient(
      0deg, 
      var(--english), 
      var(--english) 2px, 
      var(--white) 0px, 
      var(--white) 50px), 
    repeating-linear-gradient(
      22.5deg, 
      var(--french), 
      var(--french) 2px, 
      var(--white) 0px, 
      var(--white) 50px), 
    repeating-linear-gradient(
      45deg, 
      var(--dutch), 
      var(--dutch) 2px, 
      var(--white) 0px, 
      var(--white) 50px);
  }

   section.bwaafourlanguages {
    background: repeating-linear-gradient(
      0deg, 
      var(--english), 
      var(--english) 2px, 
      var(--white) 0px, 
      var(--white) 50px), 
    repeating-linear-gradient(
      22.5deg, 
      var(--french), 
      var(--french) 2px, 
      var(--white) 0px, 
      var(--white) 50px), 
    repeating-linear-gradient(
      45deg, var(--dutch), 
      var(--dutch) 2px, 
      var(--white) 0px, 
      var(--white) 50px), 
    repeating-linear-gradient(
      67.5deg, 
      var(--german), 
      var(--german) 2px, 
      var(--white) 0px, 
      var(--white) 50px);
  }

   section.bwaafivelanguages {
    background: repeating-linear-gradient(
      0deg, var(--english), 
      var(--english) 2px, 
      var(--white) 0px, 
      var(--white) 50px), 
    repeating-linear-gradient(
      22.5deg, 
      var(--french), 
      var(--french) 2px, 
      var(--white) 0px, 
      var(--white) 50px), 
    repeating-linear-gradient(
      45deg, 
      var(--dutch), 
      var(--dutch) 2px, 
      var(--white) 0px, 
      var(--white) 50px), 
    repeating-linear-gradient(
      67.5deg, 
      var(--german),  
      var(--german) 2px, 
      var(--white) 0px, 
      var(--white) 50px),
    repeating-linear-gradient(
      90deg, 
      var(--spanish),  
      var(--spanish) 2px, 
      var(--white) 0px, 
      var(--white) 50px);
  }


/* Verlag */
  
   section.verlag {
    background: radial-gradient(
      circle at 50% 50%, 
      var(--english) 2px, 
      var(--white) 0px);
    background-size: 15px 50px;
    background-origin: content-box;
    background-position: center;
  
  }

   section.verlagdensity2 {
    background: radial-gradient(
      circle at 50% 50%, 
      var(--english) 2px, 
      var(--white) 0px);
  background-size: 15px 40px;
  background-origin: content-box;


  }

   section.verlagdensity3 {
    background: radial-gradient(
      circle at 50% 50%, 
      var(--english) 2px, 
      var(--white) 0px);
  background-size: 15px 30px;
  background-origin: content-box;

  }

   section.verlagdensity4 {
    background: radial-gradient(
      circle at 50% 50%, 
      var(--english) 2px, 
      var(--white) 0px);
  background-size: 15px 20px;
  background-origin: content-box;

  }


   section.verlagsize2 {
    background: radial-gradient(
      circle at 50% 50%, 
      var(--english) 4px, 
      var(--white) 0px);
  background-size: 15px 50px;
  background-origin: content-box;

  }

   section.verlagsize3 {
    background: radial-gradient(
      circle at 50% 50%, 
      var(--english) 6px, 
      var(--white) 0px);
    background-size: 15px 50px;
    background-origin: content-box;
    background-position: center;

  }

   section.verlagsize4 {
    background: radial-gradient(
      circle at 50% 50%, 
      var(--english) 8px, 
      var(--white) 0px);
    background-size: 15px 50px;
  }

  /* multilanguages */
   section.verlagtwolanguages {
    background: radial-gradient(
      circle at 50% 50%, 
      var(--english) 4px, 
      var(--white) 0px),
    radial-gradient(
    circle at 50% calc(100% / 2.4), 
    var(--french) 4px, 
    var(--white) 0px);
    background-size: 15px 50px;
    background-origin: content-box;
    background-position: center;
  }

   section.verlagthreelanguages {
    background: radial-gradient(
      circle at 50% 50%, 
      var(--english) 4px, 
      var(--white) 0px), 
    radial-gradient(
      circle at 50% calc(100% / 2.4), 
      var(--french) 4px, 
      var(--white) 0px), 
    radial-gradient(
      circle at 50% calc(100%/3), 
      var(--dutch) 4px, 
      var(--white) 0px);
    background-size: 15px 50px;
    background-origin: content-box;
    background-position: center;
  }

   section.verlagfourlanguages {
    background: radial-gradient(
      circle at 50% 50%, 
      var(--english) 4px, 
      var(--white) 0px), 
    radial-gradient(
      circle at 50% calc(100% / 2.4), 
      var(--french) 4px, 
      var(--white) 0px), 
    radial-gradient(
      circle at 50% calc(100%/3), 
      var(--dutch) 4px, 
      var(--white) 0px), 
    radial-gradient(
      circle at 50% calc(100%/4), 
      var(--spanish) 4px, 
      var(--white) 0px);
    background-size: 15px 50px;
    background-origin: content-box;
    background-position: center;
  }

   section.verlagfivelanguages {
    background: radial-gradient(
      circle at 50% 50%, 
      var(--english) 4px, 
      var(--white) 0px), 
    radial-gradient(
      circle at 50% calc(100% / 2.4), 
      var(--french) 4px, 
      var(--white) 0px), 
    radial-gradient(
      circle at 50% calc(100%/3), 
      var(--dutch) 4px, 
      var(--white) 0px), 
    radial-gradient(
      circle at 50% calc(100%/4), 
      var(--spanish) 4px, 
      var(--white) 0px), 
    radial-gradient(
      circle at 50% calc(100%/ 6), 
      var(--german) 4px, 
      var(--white) 0px);
    background-size: 15px 50px;
    background-origin: content-box;
    background-position: center;
  }

/* constant reading list */

/* density */

 section.constant {
  background: radial-gradient(
    circle at 0% 50%, 
    var(--english) 2px, 
    var(--white) 0px);
background-size: 15px 50px;
}

 section.constantdensity2 {
  background: radial-gradient(
    circle at 0% 50%, 
    var(--english) 2px, 
    var(--white) 0px);
background-size: 15px 40px;
}

 section.constantdensity3 {
  background: radial-gradient(
    circle at 0% 50%, 
    var(--english) 2px, 
    var(--white) 0px);
background-size: 15px 30px;
}

 section.constantdensity4 {
  background: radial-gradient(
    circle at 0% 50%, 
    var(--english) 2px, 
    var(--white) 0px);
background-size: 15px 20px;
}



/* thickness */
 section.constantsize2 {
  background: radial-gradient(
    circle at 0% 50%, 
    var(--english) 4px, 
    var(--white) 0px);
background-size: 15px 50px;
background-origin: content-box;
}

 section.constantsize3 {
  background: radial-gradient(
    circle at 0% 50%, 
    var(--english) 6px, 
    var(--white) 0px);
  background-size: 15px 50px;
  background-origin: content-box;
  background-position: center;
}

 section.constantsize4 {
  background: radial-gradient(
    circle at 0% 50%, 
    var(--english) 8px, 
    var(--white) 0px);
  background-size: 15px 50px;
  background-origin: content-box;
  background-position: center;
}

/* multilanguages */
 section.constanttwolanguages {
  background: radial-gradient(
    circle at 0% 50%, 
    var(--english) 4px, 
    var(--white) 0px), 
  radial-gradient(
    circle at calc(100%/6) 50%, 
    var(--french) 4px, 
    var(--white) 0px);
  background-size: 15px 50px;
  background-origin: content-box;
  background-position: center;
}

 section.constantthreelanguages {
  background: radial-gradient(
    circle at 0% 50%, 
    var(--english) 4px, 
    var(--white) 0px), 
  radial-gradient(
    circle at calc(100%/6) 50%, 
    var(--french) 4px, 
    var(--white) 0px), 
  radial-gradient(
    circle at calc(100%/3.5) 50%, 
    var(--dutch) 4px, 
    var(--white) 0px);
  background-size: 15px 50px;
  background-origin: content-box;
  background-position: center;
}

 section.constantfourlanguages {
  background: radial-gradient(
    circle at 0% 50%, 
    var(--english) 4px, 
    var(--white) 0px), 
  radial-gradient(
    circle at calc(100% /6) 50%, 
    var(--french) 4px, 
    var(--white) 0px), 
  radial-gradient(
    circle at calc(100%/3.5) 50%, 
    var(--dutch) 4px, 
    var(--white) 0px), 
  radial-gradient(
    circle at calc(100%/2) 50%, 
    var(--spanish) 4px, 
    var(--white) 0px);
  background-size: 15px 50px;
  background-origin: content-box;
  background-position: center;
}

 section.constantfivelanguages {
  background: radial-gradient(
    circle at 0% 50%, 
    var(--english) 4px, 
    var(--white) 0px), 
  radial-gradient(
    circle at calc(100% /6) 50%, 
    var(--french) 4px, 
    var(--white) 0px), 
  radial-gradient(
    circle at calc(100%/3.5) 50%, 
    var(--dutch) 4px, 
    var(--white) 0px), 
  radial-gradient(
    circle at calc(100%/2.1) 50%, 
    var(--spanish) 4px, 
    var(--white) 0px), 
  radial-gradient(
    circle at calc(100%/1.5) 50%, 
    var(--german) 4px, 
    var(--white) 0px);
  background-size: 15px 50px;
  background-origin: content-box;
  background-position: center;
}

/* test motif 3 languages
  radial-gradient(circle at 0% 50%, var(--french) 10px, var(--white) 0px, rgba(0, 0, 0, 0) 20px), radial-gradient(circle at 50% 0%, var(--english) 10px, var(--white) 0px, rgba(0, 0, 0, 0) 20px), radial-gradient(circle at 50% 100%, var(--dutch) 10px, var(--white) 0px, rgba(0, 0, 0, 0) 20px), radial-gradient(circle at 100% 80%, var(--german) 10px, var(--white) 0px, rgba(0, 0, 0, 0) 10px)

test motif 4 languages
radial-gradient(circle at 0% 50%, var(--french) 10px, var(--white) 0px, rgba(0, 0, 0, 0) 20px), radial-gradient(circle at 50% 0%, var(--english) 10px, var(--white) 0px, rgba(0, 0, 0, 0) 20px), radial-gradient(circle at 50% 100%, var(--dutch) 10px, var(--white) 0px, rgba(0, 0, 0, 0) 20px), radial-gradient(circle at 100% 80%, var(--german) 10px, var(--white) 0px, rgba(0, 0, 0, 0) 10px), radial-gradient(circle at 50% 50%, var(--spanish) 10px, var(--white) 0px, rgba(0, 0, 0, 0) 10px) */

/* triangle */

/* density */
  /*  section.triangle {
  background: transparent linear-gradient(45deg, rgba(0, 0, 0, 0) 20%, var(--english) 10%, var(--english) 100%, rgba(0, 0, 0, 0) 100%) 0% 0% / 50% 50%;
  background-repeat: repeat;
  transform: rotate(180deg);
  background-size: 5px 10px;
  }

   section.triangledensity2 {
    background: transparent linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, var(--english) 10%, 
    var(--english) 100%, rgba(0, 0, 0, 0) 100%) 0% 0% / 50% 50%;
    background-repeat: repeat;
    transform: rotate(180deg);
    background-size: 10px 20px;
    }

     section.triangledensity3 {
      background: transparent linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, var(--english) 10%, var(--english) 100%, rgba(0, 0, 0, 0) 100%) 0% 0% / 50% 50%;
      background-repeat: repeat;
      transform: rotate(180deg);
      background-size: 5px 10px;
      }

     section.triangledensity4 {
        background: transparent linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, var(--english) 10%, var(--english) 100%, rgba(0, 0, 0, 0) 100%) 0% 0% / 50% 50%;
        background-repeat: repeat;
        transform: rotate(180deg);
        background-size: 15px 30px;
        } */

